<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cenes.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
				<key>dateExpires</key>
				<string>05/08/2020</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IoniconsSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantis.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VisualEffectView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB060ED1DC6E2B4263E8C8382D5A763617B24D37</string>
						<key>dateExpires</key>
						<string>05/08/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>p2_OAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLW9C8866Y</string>
						<key>name</key>
						<string>CENES Group Inc</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XLW9C8866Y.com.cenesgroup.cenesapp01</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XLW9C8866Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XLW9C8866Y.com.cenesgroup.cenesapp01</string>
				</array>
			</dict>
			<key>name</key>
			<string>Cenes.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e5cceec6-ebf3-470f-9b45-71d4a63ec8e4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cenesgroup.cenesapp01</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XLW9C8866Y</string>
				<key>name</key>
				<string>CENES Group Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
